.container {
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Roboto', sans-serif; 
    font-size: 16px; /*base font size*/
}

.container * {
    box-sizing: border-box;
    max-width: 100%;
}

/*Header of the page*/
.header h1 {
    background-color: #3F51B5;
    color: #fff;
    margin: 0;
    padding: 0.833em; /*30px*/
}

.header .intro img {
    border-radius: 50%;
    max-width: 30%;
    display: inline-block;
    margin-right: .5em;
    vertical-align: middle;
}

.header .intro p {
    padding: 1.250em; /*20px*/
}

/*CV List*/
.cvList {
    padding: 0 1.250em 1.250em; /*0 20px 20px*/
}

.cvList ul {
    list-style: none;
    padding: 0;
}

.cvList ul li {
    margin-bottom: 0.938em; /*15px*/
}

.cvList ul li .lifeEventContent {
    display: inline-block;
    width: 80%;
}

.cvList ul li .lifeEventContent h3 {
    font-size: 1em; /*16px*/
    margin: 0;
    background-color: #1A237E;
    color: #fff;
    padding: 0.625em 0.313em; /*10px 5px 10px 5px*/
    font-weight: normal;
    cursor: pointer;
}

.cvList ul li .lifeEventContent .lifeEventDetails {
    background-color: #3949AB;
    color: #fff;
    font-size: 0.875em; /*14px*/
    padding: 0.357em; /*5px*/
}

.cvList ul li i {
    padding: 0.313em; /*5px*/
    border-radius: 50%;
    background-color: #F50057;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    vertical-align: top;
    margin-right: 0.625em; /*10px*/
}

/*CVList animations*/
.isRotated {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 400ms ease-in;
    -moz-transition: all 400ms ease-in;
    -o-transition: all 400ms ease-in;
    transition: all 400ms ease-in;
}

.details-enter {
    max-height: 0;
    padding: 0 !important;
}

.details-enter.details-enter-active {
    max-height: 150px;
    transition: all 200ms ease-in;
    padding: 0.357em !important; /*5px*/
}

.details-leave {
    max-height: 150px;
}

.details-leave.details-leave-active {
    max-height: 0;
    transition: all 200ms ease-in;
}

/*Skills list*/
.skillsListHeader {
    margin-top: 2.5em; /*47px*/
}

.skillsList {
    margin-top: 0;
}

.skillsList .skill {
    display: inline-block;
    color: #fff;
    background-color: #F50057;
    margin-right: 0.313em; /*5px*/
    padding: 0.313em; /*5px*/
    border-radius: .4em;
}

/*Footer - Contact details*/
.contact {
    background-color: #3F51B5;
    color: #fff;
    margin-top: 0;
    padding: 0.833em 0.833em 1.094em 0.833em; /*30px 30px 35px 30px;*/
}

.contact .contactContent ul {
    list-style: none;
    padding: 0;
    width: 100%;
    display: inline-block;
}

/*Media queries*/
@media screen and (min-width: 768px) {
    .header .intro img {
        max-width: 15%;
    }
}   
 
@media screen and (min-width:1024px) {
    .contact .contactContent ul {
       width: 50%;
    }
}


